<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todo</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="/">Todo App</a>
        </nav>
        
        <div class="container mt-5">
            <form action="/add" method="POST" class="d-flex">
                <input type="text" name="todo" class="form-control" placeholder="Enter Todo">
                <input type="submit" value="Add Todo" class="btn btn-md btn-primary mx-2">
            </form>
        
        
            <ul class="list-group my-5">
                <% todo.forEach(todos => { %>
                <li class="list-group-item"><%= todos.todo %> 
                    <a href="/delete/<%= todos._id %>"
                        class="btn btn-danger btn-sm">Delete</a>
                        
                </li>
                <% }) %>
        
            </ul>
        </div>
    </body>
</html>